.sales {
    padding: 10%;
    margin: 10%;
    max-width: 100%;
}

.salesGrid {
    max-width: 80%;
}

.title {
    background-color: #126e82;
}

.heading {
    display: inline;
    margin: 0;
    max-width: 100%;
}